<nav class=" bg-slate-900 w-full flex relative justify-between items-center mx-auto px-8 h-20 mb-5">
    <!-- logo -->
    <div class="inline-flex">
        <h1 class="text-xl text-white font-extrabold tracking-wider">Eras</h1>
    </div>
    <!-- end logo -->
</nav>
